* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: #1e293b;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-size: 48px;
  font-family: 'Bree Serif';
}

.message {
  color: #ffffff;
  font-size: 32px;
  font-family: 'Bree Serif';
}

.button {
  padding: 10px;
  color: #000000;
  font-size: 18px;
  font-family: 'Bree Serif';
  background-color: #ffffff;
  border: 0px;
  border-radius: 5px;
}
